<div class="general-container color-black-background">

    <div class="general-divider">

        <div class="text-container">
            <img alt="logo" src=" {{ logo }} ">
        </div>

        <div>
            <h3> Menú </h3>
            <ul>
                <li> Submenu 1 </li>
                <li> Submenu 2 </li>
                <li> Submenu 3 </li>
            </ul>
        </div>

        <div>
            <p class="general-text color-white-text"> Copyright Oficial ©. </p>
        </div>

    </div>

</div>
