.general-container {
    padding: 30px;
}

.general-divider {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

h3 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'PoppinsSemiBold', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

img {
    width: 80px;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    color: #ffffff;
}

.text-container {
    margin: auto;
}

/* 
    Responsive Design - Media Querie
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {

    img {
        width: 30px;
    }

    h3 {
        font-size: 11px;
    }

    li {
        font-size: 6px;
    }
}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    img {
        width: 50px;
    }

    h3 {
        font-size: 13px;
    }

    li {
        font-size: 7px;
    }

}

@media ( max-width: 999px ) and ( min-width: 750px ) {

    img {
        width: 65px;
    }

    h3 {
        font-size: 15px;
    }

    li {
        font-size: 8px;
    }


}

@media ( max-width: 1300px ) and ( min-width: 1000px ) {

    h3 {
        font-size: 17px;
    }

    li {
        font-size: 10px;
    }

}