<div class="general-container color-black-background">

    <div class="title-container">
        <h3 class="color-white-text"> Video </h3>
        <hr>
    </div>

    <div class="center-video">
        
        <iframe
            title="ComidaJaponesa"
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/tbbDVoaSABo" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        
    </div>

</div>
