.general-container {
    padding: 30px 0px 20px 0px;
}

hr {
    background-color: #ffffff;
    width: 40px;
    margin-left: 0%;
}

.title-container{
    padding-left: 30px;
}

.center-video {
    display: grid;
    justify-items: center;
}

iframe{
    width: 100%;
    height: 100vh;
}


/* 
    Responsive Design - Media Querie
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {

    iframe {
        width: 90%;
        height: 250px;
    }

}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    iframe {
        width: 90%;
        height: 250px;
    }

}

@media ( max-width: 999px ) and ( min-width: 750px ) {

    iframe {
        width: 80%;
        height: 400px;
    }
    
}

@media ( max-width: 1300px ) and ( min-width: 1000px ) {

    iframe {
        width: 80%;
        height: 400px;
    }

}