.general-container { 
    padding: 30px 0px 20px 30px;
}

hr{
    background-color: #ffffff;
    width: 40px;
    margin-left: 0%;
}

.general-divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-container {
    display: grid;
    justify-items: center;
    width: 70%;
}

p {
    text-align: center;
}

/* Galería */

.gallery-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.image-container {
    display: grid;
    justify-items: center;
}

.btn-image {
    background-color: transparent;
}

.icon-image {
    width: 35px;
}

.image-view {
    width: 500px;
}

/* 
    Responsive Design - Media Querie
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {

    .general-divider {
        display: block;
    }

    .icon-image {
        width: 15px;
    }
    
    .image-view {
        width: 100px;
    }

    .btn-image {
        min-width: 15px;
        padding: 0px;
    }

}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    .general-divider {
        display: block;
    }

    .icon-image {
        width: 20px;
    }
    
    .image-view {
        width: 150px;
    }

}

@media ( max-width: 999px ) and ( min-width: 750px ) {

    .icon-image {
        width: 25px;
    }
    
    .image-view {
        width: 200px;
    }
}

@media ( max-width: 1300px ) and ( min-width: 1000px ) {

    .icon-image {
        width: 30px;
    }
    
    .image-view {
        width: 250px;
    }

}