<div class="general-container color-black-background">

    <div class="title-container">
        <h3 class="color-white-text"> ¿Quienes somos? </h3>
        <hr> 
    </div>

    <div class="general-divider">

    <!-- Texto -->    
    <div class="text-container">

        <p class="general-text color-white-text">
            Somos un grupo de apasionados por la gastronomía y estudiantes universitarios que comparten 
            el mismo amor por la cultura japonesa y su comida, que mediante estudios, investigaciones y 
            recopilaciones, buscamos exaltar el valor del país asiático.
            <br>
            <br>
            Aquí encontraras recetas, criticas y notas diversas que ayudarán a ampliar tus conocimientos 
            sobre la diversa gama culinaria que ofrece Japón.
        </p>

    </div>

    <!-- Imagenes -->
    <div class="gallery-container"> 

        <button [disabled]="!leftBtn" mat-button class="btn-image" (click)="leftImage()">
            <img *ngIf="leftBtn" class="icon-image" alt="left" src="{{ left }}"/>
        </button>

        <div class="image-container">
            <img class="image-view" alt="gallery" src="{{ imageView }}" />
        </div>

        <button [disabled]="!rightBtn" mat-button class="btn-image" (click)="rightImage()">
            <img *ngIf="rightBtn" class="icon-image" alt="right" src="{{ right }}"/>
        </button>   

    </div>

    </div>

</div>
