.card-container {
    width: 300px;
    border-radius: 15px;
    border: 3px solid #ffffff;
}

.cards-general-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.title-container { 
    padding: 30px 0px 20px 30px;
}

p{
    text-align: end;
}

.cardDivision {
    display: grid;
    grid-template-columns: 30% 70%;
    align-self: center;
}

.icon {
    width: 60px;
    align-self: center;
}

hr{
    background-color: #ffffff;
    width: 40px;
    margin-left: 0%;
}

.mat-card {
    background-color: transparent;
}


/* 
    Responsive Design - Media Queries
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {
    
    .cards-general-container {
        display: block;
    }

    .cardDivision {
        grid-template-columns: 10% 90%;
    }

    .icon {
        width: 25px;
    }

    p {
        text-align: center;
    }

    .mat-card {
        margin: 10px auto 0px auto;
    }

}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    .cards-general-container {
        display: block;
    }

    .cardDivision {
        grid-template-columns: 15% 85%;
    }

    .icon {
        width: 30px;
    }

    p {
        text-align: center;
    }

    .mat-card {
        margin: 10px auto 0px auto;
    }

}