<div class="color-black-background" >

    <div class="title-container" >
        <h3 class="color-white-text"> Objetivo </h3>
        <hr> 
    </div>

    <div class="cards-general-container" >

        <mat-card class="card-container">
            <div class="cardDivision">
                <img alt="ramen" src="{{ iconRamen }}" class="icon">

                <p class="general-text color-white-text">
                    Aprender y Conocer la gastronomía japonesa y su evolución en el tiempo
                </p>
            </div>
        </mat-card>

        <mat-card class="card-container">
            <div class="cardDivision">
                <img alt="dango" src="{{ iconDango }}" class="icon">

                <p class="general-text color-white-text">
                    Conocer la importancia de la gastronomía japonesa moderna y sus ingredientes
                    a nivel internacional 
                </p>
            </div>
        </mat-card>

    </div>

</div>
