.general-divider {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: right;
}

.menu-divider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Background del menú */

.flotante {
    position: fixed;
    width: 100%;
    height: 12%;
    top: 0px;
}

/* Menú */

.btn-menu {
    font-size: 20px;
    font-family: 'PoppinsLight', sans-serif;
    color: #ffffff;
}

li a {
    font-size: 20px;
    font-family: 'PoppinsLight', sans-serif;
    text-align: center;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

li.active {
    border-bottom: 3px solid #ffffff;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

/* 
    Responsive Design - Media Querie
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {

    li a {
        font-size: 10px;
        padding: 3px 4px;
    }    

    .btn-menu {
        font-size: 10px;
        padding: 3px 4px;
    }

}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    li a {
        font-size: 12px;
        padding: 3px 4px;
    }  
    
    .btn-menu {
        font-size: 12px;
        padding: 3px 4px;
    }

}

@media ( max-width: 999px ) and ( min-width: 750px ) {

    li a {
        font-size: 16px;
        padding: 4px 6px;
    }    

    .btn-menu {
        font-size: 16px;
        padding: 4px 6px;
    }
    
}

@media ( max-width: 1300px ) and ( min-width: 1000px ) {

    li a {
        font-size: 18px;
        padding: 5px 8px;
    }   
    
    .btn-menu {
        font-size: 18x;
        padding: 5px 8px;
    }

}