<div class="home-image">

    <div class="text-container color-white-text">
        <div class="align-div">
            <h1>
                Catando Sabores
            </h1>
        </div>

        <div>
            <!-- -->
        </div>
    </div>

    <div class="icons-general-container"> 
        <div class="icons-container"> 
            <img alt="facebook" src=" {{ iconFb }}" class="icon-social-media">
            <img alt="instagram" src=" {{ iconIg }}" class="icon-social-media">
            <img alt="youtube" src=" {{ iconYt }}" class="icon-social-media">
        </div>
    </div>

</div>