.contac-image {
    background-image: linear-gradient( rgba(72, 72, 72, 0.7), rgba(72, 72, 72, 0.7) ),
    url('../../../assets/image/sushi.jpg') ;
    width: 100%;
    height: 110vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.general-container {
    padding: 50px 0px 50px 30px;
}

hr {
    background-color: #ffffff;
    width: 40px;
    margin-left: 0%;
}

.general-divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.center-division {
    margin: auto;
}

.center-button {
    display: grid;
    justify-items: center;
}

h4 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'PoppinsSemiBold', sans-serif;
    margin-bottom: 30px;
}

form {
    display: grid;
}

/* Estilos de MatInput */
.mat-input-element {
    caret-color: #ffffff;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #DCDCDC;
    font-family: 'PoppinsMedium', sans-serif;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #DCDCDC;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #ffffff;
    font-family: 'PoppinsMedium', sans-serif;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ffffff;
}

input, textarea {
    color: #ffffff;
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
}

/* Button */

.mat-button.mat-primary {
    color: #606060;
    background-color: #C1C1C1;
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
    width: 90%;
}

/* Icons */

.icons-general-container {
    display: grid;
    justify-items: center;
    position: unset;
    bottom: 10px;
    right: 30px;
    margin: 50% 30% 0% 30%;
    text-align: justify;
}


.icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon-social-media {
    padding: 10px;
}


/* 
    Responsive Design - Media Querie
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {
 
    .contac-image {
        height: 70vh;
    }

    h4 {
        font-size: 11px;
    }

    input, textarea {
        font-size: 8px;
    }

    .mat-form-field {
        font-size: 8px;
    }

    .general-divider {
        display: block;
    }

    form {
        width: 250px;
    }

    /* Button */

    .mat-button.mat-primary {
        font-size: 8px;
        width: 70%;
        line-height: 15px;
    }   

    .division-info {
        margin-top: 15px;
    }

    .icons-general-container {
        margin: 0px;
    }

}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    .contac-image {
        height: 70vh;
    }
    
    h4 {
        font-size: 13px;
    }

    input, textarea {
        font-size: 8px;
    }

    .mat-form-field {
        font-size: 8px;
    }

    .general-divider {
        display: block;
    }

    form {
        width: 300px;
    }

    /* Button */

    .mat-button.mat-primary {
        font-size: 8px;
        width: 70%;
        line-height: 215px;
    }   

    .division-info {
        margin-top: 20px;
    }

    .icons-general-container {
        margin: 0px;
    }

}

@media ( max-width: 999px ) and ( min-width: 750px ) {

    .contac-image {
        height: 45vh;
    }

    h4 {
        font-size: 15px;
    }

    input, textarea {
        font-size: 8px;
    }

    .mat-form-field {
        font-size: 8px;
    }

    /* Button */

    .mat-button.mat-primary {
        font-size: 8px;
        width: 70%;
        line-height: 20px;
    }   

    /* Icons */

    .icon-social-media{
        width: 20px;
    }

}

@media ( max-width: 1300px ) and ( min-width: 1000px ) {

    .contac-image {
        height: 43vh;
    }


    h4 {
        font-size: 17px;
    }

    input, textarea {
        font-size: 10px;
    }

    .mat-form-field {
        font-size: 10px;
    }

    /* Button */

    .mat-button.mat-primary {
        font-size: 10px;
        width: 70%;
        line-height: 25px;
    }   

    /* Icons */

    .icon-social-media{
        width: 25px;
    }

}