/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
    margin: 0;
    padding: 0;
}


/* Titulos */

h1 {
    font-size: 50px;
    font-family: 'PoppinsLight', sans-serif;
}

h3{ 
    font-size: 30px;
    font-family: 'PoppinsSemiBold', sans-serif;
    margin: 0px;
}

/* Textos */

.menu {
    font-size: 20px;
    font-family: 'PoppinsLight', sans-serif;
}

.general-text {
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
}

/* Iconos */

.icon-social-media {
    width: 30px;
}

/* Colores */

.color-btn-background {
    background-color: #C1C1C1;
}

.color-black-background {
    background-color: #151515;
}

.color-gray-text {
    color: #606060;
}

.color-white-text {
    color: #FFFFFF;
    line-height: 2;
}

/* Importación de Fuentes */

@font-face {
    font-family: PoppinsLight;
    src: url('../src/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('../src/assets/fonts/Poppins-Medium.ttf');
}


/* 
    Responsive Design - Media Queries
*/

@media ( max-width: 479px ) and ( min-width: 320px ) {

    /* Titulos */

    h1 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 13px;
    }

    /* Textos */

    .menu {
        font-size: 11px;
    }

    .general-text {
        font-size: 6px;
    }

    /* Iconos */

    .icon-social-media {
        width: 10px;
    }


}

@media ( max-width: 749px ) and ( min-width: 480px ) {

    /* Titulos */

    h1 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 15px;
    }

    /* Textos */

    .menu {
        font-size: 12px;
    }

    .general-text {
        font-size: 7px;
    }

    /* Iconos */

    .icon-social-media {
        width: 15px;
    }

}

@media ( max-width: 999px ) and ( min-width: 750px ) {
  
    /* Titulos */

    h1 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 20px;
    }

    /* Textos */

    .menu {
        font-size: 15px;
    }

    .general-text {
        font-size: 8px;
    }

    /* Iconos */

    .icon-social-media {
        width: 20px;
    }

}

@media ( max-width: 1300px ) and ( min-width: 1000px ) {

    /* Titulos */

    h1 {
        font-size: 45px;
    }
    
    h3 {
        font-size: 25px;
    }

    /* Textos */

    .menu {
        font-size: 17px;
    }

    .general-text {
        font-size: 10px;
    }

    /* Iconos */

    .icon-social-media {
        width: 25px;
    }

}