<div>

    <div class="general-divider">

        <div></div>

        <div class="menu-divider">
            <a href=""> Inicio </a>
            <a> Objetivo </a>
            <a> ¿Quienes Somos? </a>
            <a> Video </a>
            <a> Contacto </a>
        </div>

    </div>

</div>